/* Lead the Future */
@mixin fluid-font($size, $line, $base: 1440px) {
  font-size: calc(#{$size} * (100vw / #{$base}));
  line-height: calc(#{$line} * (100vw / #{$base}));
}

.lead-the-future-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  @include fluid-font(67.01px, 73.71px);
  color: #209CD8;
}

.lead-the-future-content {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  @include fluid-font(25px, 35px);
  color: #454545;
}

.lead-the-future-form-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  @include fluid-font(25px, 35px);
  color: #454545;
}

.lead-the-future-form-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  @include fluid-font(18px, 30.75px);
//   letter-spacing: -2px;
  color: #606060;
}

.lead-the-future-form-label-required {
  color: #FF4B4B;
}

.lead-the-future-form-value {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  @include fluid-font(14px, 30.75px);
//   letter-spacing: -2px;
  color: #818181;
}

.lead-the-future-submit {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  @include fluid-font(20px, 35px);
//   letter-spacing: 0px;
  color: #FFFFFF;
}