.nav-text{
    font-family: var(--font-family-base);    
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-nav);
    line-height: var(--line-height-nav);
    letter-spacing: var(--letter-spacing-base);  
}