:root {
  --font-family-base: 'Poppins', sans-serif;
  --font-size-base: 14px;
  --letter-spacing-base: 0;

  // header/navigation
  --font-weight-nav: 500;
  --line-height-nav: 32px;
  //footer/condent
  --font-weight-footer: 300;
  --line-height-footer: 22px;
  // footer/copyrights
  --line-height-copyrights-footer: 24px;
  //footer/quicklinks
  --font-weight-quicklinks-footer: 600;
  --font-size-quicklinks-footer: 16px;
  --line-height-quicklinks-footer: 24px;
  //footer/disclaimers
  --font-weight-disclaimers: 500;

  // homepage/banner
  --font-weight-banner: 300;
  --font-size-banner: 55px;
  --line-height-banner: 62px;

  --font-weight-banner-span: 700;

  --font-weight-banner-subtitle: 300;
  --font-size-banner-subtitle: 20px;
  --line-height-banner-subtitle: 32px;

  --font-weight-banner-action-span: 700;
  --font-size-banner-action-span: 15px;
  --line-height-banner-action-span: 100%;

  // homepage/train section
  --font-size-train-section: 38px;
  --font-weight-train-section: 500;
  --line-height-train-section: 48px;

  --font-weight-train-content: 300;
  --font-size-train-content: 20px;
  --line-height-train-content: 32px;

  // homepage/metro corporation section
  --font-weight-metro-corporation: 500;
  --font-size-metro-corporation: 38px;
  --line-height-metro-corporation: 48px;
  
  --font-weight-metro-corporation-span: 700;

  --font-size-metro-corporation-content: 20px;
  --font-weight-metro-corporation-content: 300;
  --line-height-metro-corporation-content: 32px;

  // homepage/Smart banner section
  --font-weight-smart-banner: 500;
  --font-size-smart-banner: 38px;
  --line-height-smart-banner: 48px;

  --font-weight-smart-banner-span: 700;

  --font-weight-smart-banner-subtitle: 500;
  --font-size-smart-banner-subtitle: 22px;
  --line-height-smart-banner-subtitle: 32px;

  --font-weight-smart-banner-content: 400;
  --font-size-smart-banner-content: 20px; 
  --line-height-smart-banner-content: 32px;

  // homepage/Benifits section
  --font-weight-benifits: 500;
  --font-size-benifits: 38px;
  --line-height-benifits: 48px;
  
  --font-weight-benifits-span: 700;

  --font-weight-benifits-item-title: 700;
  --font-size-benifits-item-title: 15px;
  --line-height-benifits-item-title: 25px;

  --font-weight-benifits-item-content: 300;
  --font-size-benifits-item-content: 18px;
  --line-height-benifits-item-content: 26px;

  // homepage/Case Study Carousel section
  --font-weight-case-study: 500;  
  --font-size-case-study: 38px;
  --line-height-case-study: 48px;

  --font-weight-case-study-subtitle: 500;
  --font-size-case-study-subtitle: 30px;
  --line-height-case-study-subtitle: 40px;

  --font-weight-case-study-content: 400;
  --font-size-case-study-content: 20px; 
  --line-height-case-study-content: 32px;

  --font-weight-case-study-action-span: 700;
  --font-size-case-study-action-span: 15px;
  --line-height-case-study-action-span: 100%;

  // Common/Lead the Future
  --font-weight-lead-the-future-title: 300;
  --font-size-lead-the-future-title: 67.01px;
  --line-height-lead-the-future-title: 73.71px;

  --font-weight-lead-the-future-content: 500;
  --font-size-lead-the-future-content: 25px;
  --line-height-lead-the-future-content: 35px;

  --font-weight-lead-the-future-form-title: 400;
  --font-size-lead-the-future-form-title: 25px;
  --line-height-lead-the-future-form-title: 35px;

  --font-weight-lead-the-future-form-label: 400;
  --font-size-lead-the-future-form-label: 18px;
  --line-height-lead-the-future-form-label: 30.75px;
  --letter-spacing-lead-the-future-form-label: -2;

  --font-weight-lead-the-future-form-value: 400;
  --font-size-lead-the-future-form-value: 14px;
  --line-height-lead-the-future-form-value: 30.75px;
  --letter-spacing-lead-the-future-form-value: -2;

  --font-weight-lead-the-future-submit: 500;
  --font-size-lead-the-future-submit: 20px;
  --line-height-lead-the-future-submit: 35px;
}