@mixin fluid-font($size, $line, $base: 1440px) {
  font-size: calc(#{$size} * (100vw / #{$base}));
  line-height: calc(#{$line} * (100vw / #{$base}));
}

.bannerTitle {
  font-family: "Poppins", sans-serif;
  @include fluid-font(55px, 68px);
  font-weight: 500;
  letter-spacing: 0%;
  color: #ffffff;
}

.InsightsCardsContainer {
  h2 {
    font-family: "Poppins", sans-serif;
    @include fluid-font(38px, 48px);
    font-weight: 500;
    color: #209cd8;
  }
  .InsightsCards {
    border-radius: 7.1px;

    h6 {
      font-family: "Poppins", sans-serif;
      @include fluid-font(20.12px, 26.83px);
      font-weight: 500;
      letter-spacing: 0%;
      color: #ffffff;
    }
    .InsightsCardTitle {
      font-family: "Poppins", sans-serif;
      @include fluid-font(20.12px, 26.83px);
      font-weight: 500;
      letter-spacing: 0%;
      color: #ffffff;
    }

    .InsightsCardLink {
      font-family: "Poppins", sans-serif;
      @include fluid-font(11.37px, 100%);
      font-weight: 700;
      letter-spacing: 0%;
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .bannerTitle {
    font-size: 18px !important;
    line-height: 98px !important;
  }
  .InsightsCardsContainer {
    h2 {
      font-size: 14px !important;
      line-height: 26px !important;
    }
    .InsightsCards {
      border-radius: 7.1px !important;

      h6 {
        font-size: 7px !important;
        line-height: 100% !important;
      }
      .InsightsCardTitle {
        font-size: 13px !important;
        line-height: 17px !important;
      }

      .InsightsCardLink {
        font-size: 7px !important;
        line-height: 100% !important;
      }
    }
  }
}
