@mixin fluid-font($size, $line, $base: 1440px) {
  font-size: calc(#{$size} * (100vw / #{$base}));
  line-height: calc(#{$line} * (100vw / #{$base}));
}

.bannerTitle {
  font-family: "Poppins", sans-serif;
  @include fluid-font(55px, 68px);
  font-weight: 500;
  letter-spacing: 0%;
  color: #ffffff;
}

.traintitle {
  @include fluid-font(38px, 48px);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  color: #209cd8;
}

.traincondent {
  @include fluid-font(20px, 32px);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  color: #454545;
}

@media (max-width: 768px) {
  .traintitle {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  .traincondent {
    font-size: 9px !important;
    line-height: 14px !important;
  }
}
